<div class="container">
    <br />
    
    <br />
                    
        <div class="row">
            <!--<iframe src="http://localhost:50869/14" class="embed-responsive-item" style="min-height:800px" allowfullscreen></iframe>-->
            <iframe [src]="SchedulerUrl" class="embed-responsive-item" width="100%" height="750" scrolling="no" iframe-resizer allowfullscreen frameborder="0"></iframe>
        </div>
    <div class="row">

        <div class="col-sm-2"><div class="foo green"></div>PennNursinng01</div>

        <div class="col-sm-2">                <div class="foo red"></div>PennNursing02</div>
        <div class="col-sm-2">                    <div class="foo blue"></div>PerelmanSchool01</div>
        <div class="col-sm-2">                        <div class="foo pink"></div>PerelmanSchool02</div>
        <div class="col-sm-2">                            <div class="foo Gray"></div>Phone Interview</div>
        <div class="col-sm-2">                                <div class="foo darkturquoise"></div>Skype call</div>
    </div> 
</div>