<div class="container">
    <header class="pageHeader">
        <h3><i class="fa fa-info-circle fa-lg page-caption" aria-hidden="true"></i> {{'pageHeader.About' | translate}}</h3>
    </header>



    <div class="row bg-grey">
        <p>   Taking care of your health can be challenging. LGBTQ folks face additional challenges in finding services and care providers that make them feel comfortable, seen and respected.</p>

        <p>  The goal of this study is to support young gay/bisexual men and young transgender folks in living their best life. By providing sexual health and counseling services to study participants, we hope to promote better health outcomes within gay and trans communities in Philadelphia. In partnering with community health organizations, this project overcomes many of the barriers people face in accessing and receiving HIV and STI care. Staff members are trained to talk about sexual health in a way that is informative, respectful and empowering.</p>

        <p>  The length of the study is 18 months, with in-person visits every 3 months at service sites nearby. A total of $200 is available to each participant. With your help, we hope to learn more about how to improve health outcomes in our communities.</p>


    </div>

    <br />

    <div [@fadeInOut]>
        <div class="row">
            <div class="col-sm-8">

                <p><span title="PSTAR" class=""></span> Program for Sexuality, Technology, and Action Research (PSTAR)</p>
                <p><span title="dept"></span> Department of Family and Community Health</p>
                <p><span title=""></span>School of Nursing - University of Pennsylvania</p>
                <p><span title=""></span>Pronouns: he/him/his </p>
                <p><span title="Phone Number" class="fa fa-phone fa-fw"></span> 215-573-4734</p>
                <p><span title="Email" class="fa fa-envelope fa-fw"></span> <a class="black-anchor" href="mailto:.com">dconno@nursing.upenn.edu</a></p>
                <p><span title="Address" class="fa fa-globe fa-fw"></span>  418 Curie Blvd, Room 239L</p>
                <p> Philadelphia, PA 19104</p>
            </div>
        </div>

    </div>


</div>

